@import 'home';
@import 'offline';
@import 'drawer';
@import 'preset';
@import 'filter';

@font-face {
  font-family: 'RobotoLight';
  src: url('../font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('../font/RobotoThin.ttf');
}

.hidden {
  display: none !important;
}

body,html{
  font-family:'RobotoLight', Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, STXihei, SimHei, WenQuanYi Micro Hei, Droid Sans, sans-serif;
}