<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<device>
  <mid>11009</mid>
  <version>1.2</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","Mod","TemUn","SetTem","TemRec","StHt","SvSt","Add0.5","host","name"]</statueJson>
  <statueJson2>["Pow","Mod","SetTem","StHt","Add0.5","WdSpd","Tur","Quiet","SwUpDn","SwingLfRig","Lig","SwhSlp","SlpMod","AssHt","AppTimer","UDFanPort","VocCtl"]</statueJson2>
</device>