.page-parameterDetail {
  .page-header {
    position: relative;
    width: 100%;
    height: 576px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
  }

  .list {
    position: absolute;
    margin-top: 114px;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }
}