.page-menu {
  .hidden {
    display: none;
  }
  .page-main {
    transform: translateX(1%);
    .menu-large {
      width: 100%;
      height: 35%;
      img {
        width: 98%;
        height: 72%;
      }
      ul {
        padding: 0 2%;
        text-align: left;
        color: grey;
        font-size: 30px;
        h1 {
          font-size: 32px;
        }
      }
    }
    .menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .menu {
        width: 50%;
        ul {
          padding: 0 2%;
          text-align: left;
          color: grey;
          font-size: 30px;
          h1 {
            font-size: 32px;
          }
        }
        &:last-child {
          margin-bottom: 20px;
        }
      }
      .menu-img {
        width: 94%;
      }
      .menu-method {
        margin-bottom: 3%;
      }
    }
  }
  .page-detail {
    ul {
      margin-top: 5%;
      margin-left: 2%;
    }
    li {
      margin-top: 1%;
      width: 87%;
      font-size: 30px;
    }
    .detail-img {
      width: 100%;
      height: 38%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .material-list {
      margin-top: 3%;
      margin-left: 4%;
      width: 100%;
      text-align: left;
      color: grey;
    }
    hr {
      margin: 0 auto;
      margin-top: 20%;
      width: 92%;
      color: gray;
      opacity: 0.3;
    }
    .cookTip {
      text-align: left;
      margin-left: 4%;
      width: 100%;
      height: 40%;
      color: grey;
    }
    .material-top {
      font-size: 40px;
    }
  }
}
