@import '../scss/index.scss';
@import './vant-picker.scss';

*{
  margin: 0;
  padding: 0;
  -webkit-touch-callout:none; // 禁止IOS长按复制
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: appleUltralight, appleLight;
}
#app {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  font-family: appleUltralight, appleLight;
}
// 滑轮样式，在局部style里无法生效，所以放这里
.picker{
  width: 100%;
  // margin-top: 5%;
}
@media screen and (min-width: 320px) and (max-width:375px){
  .picker{
    margin-top: 0;
  }
}
.slot1{
  padding-left: 20%;
}
.time-slot1 {
  padding-left: 20%;
}
.slot2{
  &.standard-time{
    top: 25%;
    div {
      @include font-size(58px);
    }
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  div{
    @include font-size(20px);
  }
}
.slot3{
  padding-right: 20%
}
.time-slot3 {
  padding-right: 20%;
}
.slot4{
  position: absolute;
  top: 50%;
  right: 15%;
  div{
    @include font-size(20px);
  }
}
.picker-item{
  color: #d7d8da;
  @include font-size(60px);
}
.picker-center-highlight:before, .picker-center-highlight:after {
  background-color: transparent;
}
.break{
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-size(60px);
  div {
    padding-bottom: 10px;
  }
}

.d-none {
  display: none !important;
}