<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<device>
  <mid>6048</mid>
  <version>1.0</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","FanMod","WdSpd","PctCle","VitiGr","PctRe","GetEr"]</statueJson>
  <statueJson2>["Pow","FanMod","WdSpd","PctCle","VitiGr","PctRe","GetEr","IDUAirQu","AirQu","TemSor","HumSor","PM2P5","VOC","CO2","HCHO","PM2P5EN","HCHOEN","ODUViti","InVitiGr","InVitiGrCg","InEffClRes","InEffReRes","IFDClRes","EffReRes","RunMod","ErrType","ModS","MdVitiGr","MIdType","Inloop","InloopEN","SorSet"]</statueJson2>
  <moduleVer>1</moduleVer>
    <!-- 插件项目工程模板的版本 -->
    <!-- 没有这一行的 -->
    <!-- 有这一行： 取值 int   0：iot旧模板（部分还在使用需要兼容的）  1：黎工iot模板-->
</device>