<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<device>
  <mid>806004</mid>
  <version>1.9</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","Mod","HeWatOutTemSet","HeWatOutTemSetFloor","CoWatOutTemSet","SvSt","AllErr","FloorHeat","TemUn"]</statueJson>
  <statueJson2>["Pow","Mod","HeWatOutTemSet","HeWatOutTemSetFloor","CoWatOutTemSet","Quiet","LefHom","SvSt","EnvironmentTem","AirInTem","AirOutTem","DefrostTem","AllInWatTem","AllOutWatTem","AntifreezeTem","CodeCoalGasTem","CodeCoalLiquidTem","HighPressureTem","AllErr","FloorHeat","TemUn"]</statueJson2>
  <moduleVer>1</moduleVer>
    <!-- 插件项目工程模板的版本 -->
    <!-- 没有这一行的 -->
    <!-- 有这一行： 取值 int   0：iot旧模板（部分还在使用需要兼容的）  1：黎工iot模板-->
</device>
