@import 'home';
@import 'error';

// #app{
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
// }
// .view {
//   .statusbar {
//     background-color: red;
//   }
// }
.hidden {
  display: none !important;
}
/* Popup */
.gree-popup {
  font-family: appleLight;
  .gree-popup-box {
    transition: transform .1s linear, -webkit-transform .1s linear;
    .popup-bottom {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 64px;
      border-radius: 0;
      background-color: #fff;
      box-shadow: #dbdbdb 0 0 4px 0;
      .arrow-down {
        text-align: center;
        position: relative;
        margin-bottom: 10px;
        &:after {
          content: '';
          width: 49px;
          height: 19px;
          display: inline-block;
          background: url(../images/ic_pulldown.png) no-repeat;
          background-size: 100%;
        }
      }
      .row {
        justify-content: flex-start;
        .col,
        .col-25 {
          padding-top: 22px;
          img {
            width: 152px;
            height: 152px;
          }
          span {
            font-size: 39px;
            padding-top: 29px;
          }
        }
        .col-25 {
          margin-left: 10px;
        }
      }
    }
  }
  
}
/* ToolBar */
.toolbar {
  bottom: 70px !important;
  .col,
  .col-25 {
    .icon {
      background: none;
      border: none;
      box-shadow: none;
      img {
        width: 174px;
        height: 174px;
      }
    }
  }
}

.gree-icon.iconfont{
  font-weight: bold;
}

.gree-dialog{
  .gree-dialog-text{
    font-size: 42px;
    text-align: left;
  }
}
#__vconsole{
  display: none;
}
body{
  height: 100vh;
}

.page.no-navbar .page-content >.gree-header {
  top: calc(0px + env(safe-area-inset-top));
}