.page-home{
  font-family: appleUltralight, appleLight;
  background-color: #f5f5f5;
  position: relative;
  .page-content{
    overflow-x: hidden !important;
    .header{
      height: 576px;
      background-image: url('../../assets/images/header_bg.png');
      background-size: 100% 100%;
      position: relative;
      .gree-header {
        font-family: appleLight;
      }
      .mini-icon-bar{
        list-style: none;
        margin: 0;
        padding: 0;
        top: 20%;
        padding-left:50px;
        position: absolute;
        li{
          display: inline-block;
          margin-right: 22px;
          .icon{
            width: 60px;
          }
        }
      }
      .humidity-label {
        position: absolute;
        bottom: 238px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 64px;
        display: flex;
        align-items: center;
        font-weight: bold;
        .humidity-icon {
          height: 65px;
        }
      }
      .gree-notice-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        font-size: 36px;
        padding-left: 53px;
        min-height: 105px;
        background-color: rgba(0, 0, 0, 0.15);
        &.PowOff {
          bottom: -90px;
        }
        .gree-notice-bar-left {
          img {
            width: 44px;
            height: 44px;
          }
        }
        .gree-notice-bar-content {
          line-height: 105px;
          img {
            width: 44px;
            height: 44px;
            vertical-align: middle;
          }
          span {
            padding-left: 15px;
          }
          a {
            padding-left: 15px;
            text-decoration: underline;
            color: #fff;
          }
          .gree-marquee {
            .gree-marquee-box {
              
              li {
                position: relative;
                img {
                  width: 44px;
                  height: 44px;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                }
                line-height: 105px;
                span {
                  color: #fff;
                  padding-left: 65px;
                  font-size: 36px;
                }
                a {
                  color: #fff;
                  padding-left: 15px;
                  text-decoration: underline;
                  font-size: 36px;
                }
              }
            }
          }
        }
      }
    }
    .footer{
      box-sizing: border-box;
      position: absolute;
      padding: 0px 68px 73px;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .btn{
        min-width: 174px;
        &.disabled {
          opacity: 0.45;
        }
        .icon{
          width: 174px;
          height: 174px;
        }
        .name{
          width: 100%;
          display: block;
          margin-top: 19px;
          text-align: center;
          font-size: 45px;
          font-family: appleLight;
        }
      }
    }
    .mask{
      z-index: 1001;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      .loading{
        display: block;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .hidden {
      visibility: hidden;
    }
    .btn-powon{
      width: 331px;
      height: 331px;
      margin: 50% auto 0 auto;
      display: block;
    }
    .main{
      position: relative;
      .fog-carousel-holder{
        padding-top: 190px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
      }
      .label-unit{
        position: absolute;
        top: 554px;
        left: 660px;
        font-family: appleLight;
        font-size: 52px;
      }
    }
    .gree-power-off {
      pointer-events: none;
    }
  }
}