.gree-offline-text {
  .link {
    color: #00aeff;
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
    font-size: 50px;
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 2px solid #00aeff;
      width: 200%;
      height: 200%;
      transform: scale(0.5);
      transform-origin: 0 0;
    }
  }
}
