.page-sweep {
  .page-content {
    overflow: hidden;
    .gree-header {
      background-color: #fff;
    }
    .content {
      height: 100%;
      padding-top: 1.0463rem;
      // padding-top: calc(1.0463rem + env(safe-area-inset-top));
      box-sizing: border-box;
      .top-bar {
        height: 124px;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        padding: 0 20px 0 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f4f4f4;
        span {
          font-size: 40px;
        }
        .switch {
          box-sizing: border-box;
          position: relative;
          height: 78px;
          width: 133px;
          border-radius: 78px;
          appearance: none;
          border: 1px solid #ccc;
          background-color: #ddd;
          &.active {
            background-color: #0eda4b;
            border-color:#0eda4b ;
            &::before{
              left: 55px;
            }
          }
          &::before{
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 72px;
            height: 72px;
            border-radius: 100%;
            background-color: #fff;
            transition: all 0.3s ease;
          }
        }
      }
      .angle-picker {
        .gree-picker-column-masker {
          &.top {
            background: linear-gradient(to top, hsla(0,0%,100%,.2), 50%, #fff);
            &::after{
              z-index: 3;
              border-color: #f4f4f4;
            }
          }
          &.bottom {
            background: linear-gradient(to bottom, hsla(0,0%,100%,.2), 50%, #fff);
          }
        }
        .column-item {
          font-family: 'robotoThin';
          font-size: 192px;
        }
      }
    }
  }
}