.DS_Store
node_modules
/dist
/gree-ui

# local env files
.env.local
.env.*.local

# local iotfe-cordova-api files
/public/static/font
/public/static/lib
/public/static/plugin
/public/static/.eslintrc.js
/public/static/.gitignore
# 历史遗留 文件名称 问题
/public/static/globle.d.ts
/public/static/global.d.ts
/public/static/package.json
/public/static/README.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# lock
package-lock.json
yarn.lock