<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<device>
  <mid>60a0</mid>
  <version>1.0</version>
  <moduleVer>1</moduleVer>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","FanMod","WdSpd","PctCle","VitiGr","PctRe","GetEr"]</statueJson>
  <statueJson2>["Pow","FanMod","WdSpd","PctCle","VitiGr","PctRe","GetEr","IDUAirQu","ODUViti","GasQ","InVitiGr","InVitiGrCg","RunMod","ErrType","ModS","Inloop","IFDtiGr","VitiGr"]</statueJson2>
</device>